@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
html, body, #root, .wrapper, .container {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0 20px 0;
    height: auto;
}

/* ============================== HEADER ============================== */

.header {
    width: 100%;
    background-color: #eee;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* Clearfix */

.header::after {
    display: block;
    content: "";
    clear: both;
}

.logo {
    color: black;
    float: left;
    padding-left: 2em;
}

.logo * {
    display: inline-block;
    padding-right: 1em;
}

.nav {
    float: right;
}

.nav .fa {
    padding: 0.7em;
    color: black;
    font-size: 1em;
    float: left;
    margin: 8px;
}

.nav .fa:hover {
    color: #ff8500;
}

.search-field {
    float: left;
    position: relative;
}

.search-field ul {
    list-style-type: none;
    margin: 8px;
    border: 0 1px 1px 1px solid #ccc;
    padding: 0;
    position: absolute;
    top: 41px;
    left: 0;
    right: 0;
    background: #e5e5e5;
}

.search-field ul li {
    padding: 8px;
}

.search-field ul li:hover {
    background-color: #aaa;
}

input[type=text] {
    margin: 8px;
    border: 1px solid #ccc;
    padding: 12px 20px;
    background-color: #ddd;
    color: black;
    float: left;
    outline: none;
    min-width: 300px;
}

input[type=text]:focus {
    border: 1px solid #999;
}

/* ============================== NEXT WEATHER ============================== */

.next-weather {
    margin: 0 auto;
    text-align: center;
    padding: 1em;
    margin: 1em;
}

.next-weather .city {
    font-size: 2em;
    color: #bbb;
    text-align: center;
    margin: 0;
}

.next-weather .time {
    color: #bbb;
    padding: 0;
    margin: 0;
}

.next-weather .weather {
    color: #bbb;
    padding: 0;
    margin: 0;
}

.next-weather img {
    width: 60px;
    height: 60px;
    text-align: right;
}

.next-weather .temperature {
    font-size: 6em;
    font-weight: lighter;
    width: 2.5em;
    color: #222;
}

.next-weather .tag {
    display: inline-block;
    padding: 5px 10px;
    background-color: #eee;
    border: 2px solid #ddd;
    margin: 20px 10px 0 10px;
    color: #222;
}

/* ============================== WEATHER CARD ============================== */

.weather-card {
    width: 13.416%;
    margin-right: 1.5%;
    padding: 1%;
    display: inline-block;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.weather-card:last-of-type {
    margin-right: 0;
    color: red;
}

.weather-card .day {
    color: #bbb;
    text-align: center;
    padding: 0;
    margin: 0;
}

.weather-card img {
    margin: 10px auto;
    display: block;
    width: 60px;
    height: 60px;
}

.temperature-max {
    color: #bbb;
    display: inline-block;
    text-align: right;
    width: 33.3%;
    margin: 0;
}

.temperature {
    color: #000;
    display: inline-block;
    text-align: center;
    width: 33.3%;
    margin: 0;
}

.temperature-min {
    color: #bbb;
    display: inline-block;
    text-align: left;
    width: 33.3%;
    margin: 0;
}

/* ============================== SPINNER ============================== */

.spinner {
    color: #eee;
    animation: spinner 1500ms infinite linear;
    position: absolute;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 3em;
    width: 1em;
    height: 1em;
}

@-webkit-keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ============================== TEMPERATURE CHART ============================== */

#temperature-chart {
    width: 100% !important;
}

/* ============================== SECTION ============================== */

.section-title {
    font-size: 2em;
    font-weight: lighter;
    color: #222;
}